@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@900&display=swap');

.page-content {
    display: flex;
    flex-direction: row;
    height: calc(100vh - 56px);
}

.navbar-brand h3 {
    margin-left: 5px;
    font-family: 'Nunito', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

:root {
    /*== COLORS ==*/
    --popoff-color: #32bd83;
    --primary-color: #2b2b41;
    --secondary-color: #28283d;
    --dark-color: #242439;
    --extra-dark-color: #222232;
    --light-color: #383855;
}

body {
    background-color: var(--secondary-color);
}

/* .nav-link {
    background-color: var(--primary-color) !important;
}

.navbar-brand {
    background-color: var(--primary-color) !important;
} */

button:focus {
    outline: none;
}

.navbar {
    background-color: var(--extra-dark-color) !important;
}

.rec_section {
    background-color: var(--primary-color);
    width: 320px;
    height: 100%;
    padding: 20px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;  /* <-- centers child items horizontally */
    color: white;
}

#messageContainer {
    width: 100%; /* full viewport width */
    padding: 10px;
    box-sizing: border-box;
}

@keyframes pop {
    0% {
        transform: scale(0.8);
        opacity: 0;
    }
    80% {
        transform: scale(1.05);
        opacity: 1;
    }
    100% {
        transform: scale(1);
    }
}

.page-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100vw;
    padding: 20px;
}

.main-content {
    padding-top: 56px;
    position: relative;
    color: white;
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    /* gap: 15px; */
}

.button-group {
    display: flex;
    gap: 20px;  /* space between buttons */
}

.submit {
    font-family: 'Montserrat Black', sans-serif;
    background: linear-gradient(45deg, #299E6D, #A8D961);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    color: white;
    width: 100%;
    padding: 5px;
    border-radius: 50px;
    transition: all 0.3s ease;
}

.submit:hover { 
    background: linear-gradient(45deg, #31b77f, #b9ef6c);
    transform: translateY(-2px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.record {
    background: linear-gradient(45deg, var(--secondary-color), var(--primary-color));
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    width: 100%;
    padding: 5px;
    border-radius: 50px;
    transition: all 0.3s ease;
}

.record:hover { 
    transform: translateY(-2px);
    background: linear-gradient(45deg, #373754, #4c4c72);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.right-anchor {
    top: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.left-anchor {
    top: 20px;
    left: 20px;
}

.rec_section .spacer {
    flex-grow: 1;
}

.flex-grow-btn {
    flex: 1;
}

.rec-img {
    width: 50%;
    height: 50%;
    object-fit: contain;
}

.user-text {
    animation: pop 0.3s ease-out;
    margin-left: auto;
    background-color: var(--light-color);
    color: white;
    text-align: end;
    max-width: 70%;
    padding: 10px;
    border-radius: 12px;
}

.bot-text {
    animation: pop 0.3s ease-out;
    background-color: var(--dark-color);
    color: white;
    margin-bottom: 20px;
    margin-top: 20px;
    max-width: 90%;
    padding: 10px;
    border-radius: 12px;
}

.scrollable-list {
    height: calc(100vh - 56px); /* subtract navbar height */
    overflow-y: auto;
}

#soundwave {
    display: none;  /* Hidden by default */
    width: auto;
    height: 50px;
    margin: 5px auto;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.soundwave span {
    display: block;
    width: 10px;
    height: 100%;
    background: white;
    border-radius: 5px;
    transition: height 0.3s ease-in-out, transform 0.3s ease-in-out; /* Smooth transition */
}

#soundwave {
    opacity: 0;
    transition: opacity 0.3s ease;
}
#soundwave.show {
    display: flex;
    opacity: 1;
}

@keyframes bounce {
    0%, 100% { transform: scaleY(1); }
    50% { transform: scaleY(2); }
}

/* Judge Page */

.judge-title {
    color: white;
    text-align: center;
}

.split {
    display: flex;
    height: calc(100vh - 56px);
}

.section {
    flex: 1;
    padding: 40px;
    box-sizing: border-box;
    overflow-y: auto;
    margin: 10px;
    border-radius: 35px;
}

.grammar-section {
    color: white;
    background-color: var(--dark-color);
}

.pronun-section {
    color: white;
    background-color: var(--dark-color);
}

@media (max-width: 768px) {
    .split {
        flex-direction: column;
    }
}