{% extends "navbar.html" %} {% block title %} Judge {% endblock %} 
{% load static %}

{% block content %} 

<div class="split">
    <div class="section grammar-section">
        <h1 class="judge-title"> Grammar</h1>
        {% lorem 93 w random %} <br><br>

        {% lorem 78 w random %} <br><br>

        {% lorem 85 w random %} <br><br>
    </div>

    <div class="section pronun-section">
        <h1 class="judge-title"> Pronunciation</h1>

        {% lorem 93 w random %} <br><br>

        {% lorem 78 w random %} <br><br>

        {% lorem 85 w random %} <br><br>
    </div>
</div>

{% endblock %}