{% extends "navbar.html" %} {% block title %} Judge {% endblock %} 
{% load static %}

{% block content %} 


<div class="split">
    <div class="section grammar-section">
        <h1 class="judge-title"> Grammar</h1>    
        <div class="grammar-content">
            {{ file_content|safe }}
        </div>
    </div>

    <div class="section pronun-section">
        <h1 class="judge-title"> Pronunciation</h1>

        <div class="pronun-content">
            {% for c in pronun %}
                <li>{{ c.content }}</li>
                <li>{{ c.accuracy_score }}</li>
                <li>{{ c.fluency_score }}</li>
                <li>{{ c.standard_score }}</li>
                <li>{{ c.total_score }}</li>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}