{% extends "navbar.html" %} {% block title %} Main {% endblock %} 
{% load static %}

{% block content %} 
    <div class="page-content">
        <div class="rec_section">
            <div class="spacer"></div>
            <div id="soundwave" class="soundwave">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            
            <div class="spacer"></div>
            
            <div class="button-group">
                <button id="recordButton" class="record flex-grow-btn" onclick="runRecord()"> 
                    <img src="{% static 'assets/mic.png' %}" alt="Record" class="rec-img" /> 
                </button>
                <button id="submitButton" onclick="window.location.href='{% url 'judge' %}'" class="submit flex-grow-btn"> 
                    <img src="{% static 'assets/send.png' %}" alt="Submit" class="rec-img"/>
                </button>
            </div>
        </div>
        <div class="page-wrapper">
            <div id="messageContainer" class="main-content scrollable-list">
            </div>
        </div>
    </div>

{% endblock %}