{% extends "navbar.html" %} {% block title %} Main {% endblock %} 
{% load static %}

{% block content %} 
    <div class="page-content">
        <div class="rec_section">
            <div class="spacer"></div>
            <div id="soundwave" class="soundwave">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            
            <div class="spacer"></div>
            
            <div class="button-group">
                <button id="recordButton" class="record flex-grow-btn" onclick="runRecord()"> 
                    <img src="{% static 'assets/mic.png' %}" alt="Record" class="rec-img" /> 
                </button>
                <button id="submitButton" onclick="window.location.href='{% url 'judge' %}'" class="submit flex-grow-btn"> 
                    <img src="{% static 'assets/send.png' %}" alt="Submit" class="rec-img"/>
                </button>
            </div>
        </div>
        <div class="page-wrapper">
            <div id="loader" class="hidden">
                <img src="https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExd2hnbHl4ZThreXdyYmhmZGRoNWlyejFzb3JvcWM1anp5ajZqbnJxMiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/HRPlCNxx9fprIHgtXu/giphy.gif" alt="Loading..." id="loaderGif">
                <div id="loadingText">
                    <span id="typedText"></span><span id="cursor">|</span>
                </div>
            </div>
            <!-- Modal HTML -->
            <div id="errorModal" class="modal">
                <div class="modal-content">
                <h2>Error</h2>
                <p id="errorMessage">Something went wrong!</p>
                <button id="okButton">OK</button>
                </div>
            </div>
            <div id="messageContainer" class="main-content scrollable-list">
            </div>
        </div>
    </div>

{% endblock %}